<mat-card-content>
  <mat-card-title>
    <h1 class="card">Cadastrar Produto</h1>
  </mat-card-title>
  <br>
    <app-dropdown [array]="group" [idField]="'id'" [textField]="'description'" [title]="'Grupo'" [(ngModel)]="selectedGroup"></app-dropdown> 
  <br>
  <app-dropdown [array]="subgroup" [idField]="'id'" [textField]="'description'" [title]="'Sub-grupo'" [(ngModel)]="selectedSubgroup"></app-dropdown> 
  <br>
  <app-dropdown [array]="collection" [idField]="'id'" [textField]="'description'" [title]="'Coleção'" [(ngModel)]="selectedCollection"></app-dropdown> 
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Descrição" [(ngModel)]="description" >
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Preço" type="number" min="1"[(ngModel)]="salePrice">
  </mat-form-field>
  <mat-card-actions>
    <button  mat-raised-button color="primary" (click)="addProducts()" >Cadastrar</button>
    <button  mat-raised-button color="primary" (click)="onNoClick()" >Cancelar</button>
  </mat-card-actions>
</mat-card-content>
