<mat-card-content>
    <mat-form-field class="example-20-width" appearance="fill">
        <h1>num</h1>
    </mat-form-field>
    <mat-form-field class="example-30-width" appearance="fill">
        <input matInput placeholder="Inserir Cliente" [(ngModel)]="search">
    </mat-form-field>
</mat-card-content>
    <mat-card-content *ngIf="search.length >=1">
        <table>
            <tr>
              <th>Nome</th>
              <th>CNPJ</th>
            </tr>
            <tr *ngFor="let clients of client | filter : search">
                <td>{{clients.name}}</td>
                <td>{{clients.cnpj}}</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-content class="example-30-width" appearance="fill">
        <mat-label>Data de emissão</mat-label>
        <h1>Data de emissao{{startDate}}</h1>
      </mat-card-content>
      <br>
      <mat-form-field class="example-30-width" appearance="fill">
        <mat-label>Data de Entrega</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="DateDelivery"></mat-datepicker>
      </mat-form-field>

